# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude only specific .tfvars files that are generated or contain sensitive data
# *.tfvars
# *.tfvars.json
argocd.auto.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Lock file - comment this out if you want to commit the lock file
# .terraform.lock.hcl
